.footer-ion-tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  @media only screen and (max-width: 600px) {
    .footer-ion-tab {
      flex-direction: column;
    }
  }