.button-home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ion-icon {
  color: #3880ff;
  font-size: 64px;
}


.ion-icon-borrow{
  color: #c8cbd2;
  font-size: 64px;
}

.ion-button-borrow{
  color: #c8cbd2;
}
