.reminder {
  text-align: center;
}

.icon__nav {
<<<<<<< HEAD
    color: rgb(236, 236, 222);
}

.reminder__list{
    margin-top: 2em;

}
=======
  color: rgb(236, 236, 222);
}
>>>>>>> 471ca6e130a786aa61598c6f05abec11d2a16a41
